{% extends 'base.html.twig' %}

{% block body %}
   <!-- Page Content -->
                    <div class="container-fluid p-y-md">

                        <!-- Login Forms -->
                        
                        <div class="row">
                            
                            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 ">
                                <!-- Material Login -->
								<h2 class="section-title">{{'Gérer les utilisateurs'|trans}}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <ul class="list">
                                            <li>
                                                <a class="btn btn-white text-right" href="{{ path('utilisateurs_new') }}"><i class="fa fa-plus-circle"></i> {% trans%}Ajouter une nouvelle espèces{% endtrans%}</a>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
						
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Telephone whatsapp</th>
                <th>Ville</th>
                <th>Dateenreg</th>
                <th>{{'Consulter'|trans}}</th>
                <th>{{'Modifier'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateurs_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.telephoneWhatsapp }}</td>
                <td>{{ utilisateur.ville }}</td>
                <td>{% if utilisateur.dateEnreg %}{{ utilisateur.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-app-teal center-block" href="{{ path('utilisateurs_show', { 'id': utilisateur.id }) }}"><i class="fa fa-list"></i></a>
                    
                </td>
                <td>
                    <a class="btn btn-warning center-block" href="{{ path('utilisateurs_edit', { 'id': utilisateur.id }) }}"><i class="fa fa-edit"></i></a>
                    
                </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
   </div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
                            <!-- .col-lg-4 -->

							

                        </div>
                        <!-- .row -->
                        <!-- End Login Forms -->

                        
						
						
                    </div>
                    <!-- .container-fluid -->
                    <!-- End Page Content -->
{% endblock %}

